<app-header></app-header>
<br />
<H1 class="text-center">Liste des Bornes</H1>
<br />
<br />
<div class="container">
  <table id="table_id" class="table">
    <thead>
      <tr>
        <th scope="col">Image</th>
        <th scope="col">Marque</th>
        <th scope="col">Type</th>
        <th scope="col">Cable</th>
        <th scope="col">Capacité de recharge</th>
        <th scope="col">Prix</th>
        <th scope="col">Description</th>
        <th scope="col">Lien du Site</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of bornes">
        <td scope="row">{{ item.image }}</td>
        <th scope="row">{{ item.brand }}</th>
        <td scope="row">{{ item.type }}</td>
        <td scope="row">{{ item.cable }}</td>
        <td scope="row">{{ item.batteryCapacity }}</td>
        <td scope="row">{{ item.price }} €</td>
        <td scope="row">{{ item.description }}</td>
        <td scope="row"><a href="">{{ item.partnerLink }}</a></td>
      </tr>
    </tbody>
  </table>
</div>
<app-footer></app-footer>
