
<app-header></app-header>
<main class="container">
    <section class="about">
        <h1>A propos de nous</h1>
        <div class="about-content">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam vel lectus vel dolor lobortis pharetra vel vel lorem. Fusce euismod posuere mi id efficitur. Sed sit amet tellus at metus interdum convallis vitae a sapien. Donec non enim quis nibh dapibus convallis. Fusce tincidunt eros at ipsum auctor, eu convallis velit sodales. Suspendisse tincidunt magna leo, sit amet dignissim arcu venenatis eget.</p>
            <img src="http://www.malojisiel.fr/diz/entreprise-38.jpg" alt="Image de l'entreprise" class="about-img">
        </div>
    </section>
</main>
  <app-footer></app-footer>
 
